.centerBlockInner {
  width: 500px;
}

.centerBlockMobile {
  display: none;
}

.contentBlock {
  color: var(--text);
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0 0 24px 0;
  min-width: 500px;
}

@media screen and (max-width: 1200px) {
  .centerBlockInner {
    display: none;
  }

  .centerBlockMobile {
    display: block;
    max-width: 650px;
    padding: 0 12px;
  }

  .contentBlock {
    padding: 18px;
    margin: 0 0 12px 0;
    min-width: 400px;
  }

  .loadBlock {
    margin: 0 12px;
  }
}

@media screen and (max-width: 500px) {
  .contentBlock {
    width: 100%;
    min-width: 0;
  }
}
