.fingerprintTable td:first-child {
  width: 80px;
  font-weight: 600;
}

.boxWrap {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 12px;
}

.hash {
  text-align: center;
  font-weight: 600;
}

form {
  margin: 12px 0 0 0;
}

.saveButton {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
  margin: 0 0 0 6px;
  -webkit-appearance: none;
}

.saveButton:hover {
  background-color: var(--border);
}

input[type='text'] {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 6px;
  width: 200px;
  outline: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 500px) {
  .boxWrap {
    padding: 8px;
  }

  input[type='text'] {
    width: calc(100% - 70px);
  }
}
