table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tableWrap {
  border: 1px solid var(--border);
  border-radius: 6px;
}

tbody:not(:last-child) {
  border-bottom: 1px solid var(--border);
}
