td {
  padding: 12px;
  word-break: break-all;
}

td:first-child {
  width: 150px;
  font-weight: 600;
  word-break: normal;
}

td:nth-child(3) {
  width: 40px;
  font-weight: 600;
}

.circleButton {
  display: flex;
  width: 20px;
}

.issue {
  cursor: pointer;
}

.issue:hover {
  background-color: var(--issueBackground);
  color: var(--issueText);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 0 6px 0;
  height: 20px;
}

.modalTitle {
  font-weight: 600;
}

.closeButton {
  fill: var(--border);
  display: flex;
  width: 12px;
  cursor: pointer;
}

.closeButton:hover {
  fill: var(--grey);
}

ul {
  padding-left: 20px;
  margin: 0px;
}

@media screen and (max-width: 500px) {
  td {
    padding: 8px;
  }

  td:first-child {
    width: 70px;
  }

  td:nth-child(3) {
    width: 20px;
    font-weight: 600;
    word-break: normal;
  }
}
