:root {
  --main: #943ec5;
  --grey: #9fa6b2;
  --text: #4b5563;
  --border: #ddd;
  --issueBackground: #f8d7da;
  --issueBorder: #f5c6cb;
  --issueText: #721c24;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(87, 35, 117);
  background: linear-gradient(
    165deg,
    rgba(87, 35, 117, 1) 0%,
    rgba(148, 62, 197, 1) 55%,
    rgba(211, 176, 231, 1) 100%
  );
}

.github {
  width: 36px;
  position: fixed;
  top: 12px;
  right: 12px;
}

.centerBlockOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  margin: 0 18px;
}

.centerBlockInner {
  width: 650px;
  margin: 24px 0 0 0;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 270px;
  margin: 0 0 14px 0;
}

.contentBlock {
  color: var(--text);
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0 0 24px 0;
}

.contentItem {
  display: flex;
}

.contentItem:not(:last-child) {
  margin: 0 0 24px 0;
}

.contentIcon {
  flex: none;
  margin: 0 24px 0 0;
  width: 32px !important;
}

.contentText {
  line-height: 24px;
}

h1 {
  margin: 0 0 12px 0;
  font-weight: 600;
  font-size: 19px;
}

h2 {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 17px;
}

.contentList {
  margin: 24px 0 0 0;
}

#scanButton {
  display: block;
  background-color: var(--main);
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 24px 0 0 0;
  font-family: inherit;
  font-size: inherit;
}

#scanButton:hover {
  opacity: 0.7;
}

.boxWrap {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 12px;
}

.tableWrap {
  border: 1px solid var(--border);
  border-radius: 6px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

tbody:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

td {
  padding: 12px;
}

td:nth-child(2):first-letter {
  text-transform: uppercase;
}

td:first-child {
  width: 180px;
  font-weight: 600;
  word-break: normal;
}

td:nth-child(3) {
  width: 40px;
  font-weight: 600;
  word-break: normal;
}

.circleButton {
  display: flex;
  width: 20px;
}

p {
  margin: 12px 0 0 0;
}

b {
  font-weight: 600;
}

img {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--border);
  box-sizing: border-box;
  display: block;
  margin: 0 0 12px 0;
}

.hash {
  text-align: center;
  font-weight: 600;
}

form {
  margin: 12px 0 0 0;
}

input[type='text'] {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 6px;
  width: 200px;
  outline: none;
}

#saveButton {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text);
  margin: 0 0 0 6px;
}

#saveButton:hover {
  background-color: var(--border);
}

.issue {
  background-color: var(--issueBackground);
  color: var(--issueText);
  border: 1px solid var(--issueBorder);
}

.newline {
  display: block;
}

@media screen and (max-width: 500px) {
  .github {
    width: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  body {
    font-size: 14px;
  }

  .contentBlock {
    padding: 18px;
    margin: 0 0 18px 0;
  }

  .centerBlockInner {
    width: 650px;
    margin: 12px 0 0 0;
  }

  .logo {
    width: 185px;
    margin: 0 0 8px 0;
  }

  h1 {
    font-size: 16px;
  }

  h2 {
    margin: 0 0 3px 0;
    font-size: 15px;
  }

  .contentIcon {
    flex: none;
    margin: 0 18px 0 0;
    width: 28px !important;
  }

  td:first-child {
    width: 70px;
  }

  .boxWrap {
    padding: 8px;
  }

  input[type='text'] {
    width: calc(100% - 65px);
  }
}
