:root {
  --main: #943EC5;
  --text: #212121;
  --background: #fff;
  --scrollbar: #ccc;
  --navbar: #FBFCFC;
  --icon: #AAB7B8;
  --border: #F0F3F4;
  scrollbar-color: var(--scrollbar) !important;
  scrollbar-width: thin !important;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 13px;
  line-height: 22px;
  width: 400px;
  margin: 0;
  overflow: overlay;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, sans-serif;
}


.navIcon {
  color: var(--icon);
  cursor: pointer;
}

.navIcon:hover {
  color: var( --main);
}

.navbar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--navbar);
  border-bottom: var(--border) solid 1px;
}

.logo {
  width: 100px;
  height: 24px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 52px;
  margin: 0 8px 0 0; 
}

.tableBox {
  padding: 0 8px;
}

table {
  width: 100%;
  border-spacing: 0 6px;
}

th {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}

tr:hover {
  color: var(--main);
  cursor: pointer;
}

tr:hover {
  color: var(--main);
  cursor: pointer;
}

td {
  vertical-align: top;
}

td:first-child {
  width: 150px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 2px;
} 