:root {
  --main: #943ec5;
  --text: #212121;
  --background: #fff;
  --scrollbar: #ccc;
  --navbar: #943ec5;
  --icon: #aab7b8;
  --border: #f0f3f4;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 13px;
  line-height: 22px;
  width: 305px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin: 0 4px 0 0
}
