:root {
  --main: #943EC5;
  --main-dark: #8537B1;
  --text: #212121;
  --background: #fff;
  --scrollbar: #ccc;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 15px;
  line-height: 22px;
  width: 370px;
  margin-right: 2px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoImage {
  background: url('logo.svg') no-repeat;
  background-size: 133px 32px;
  width: 133px;
  height: 32px;
}

.menu {
  margin: 0 6px 0 0;
}

.title {
  font-weight: 600;
  font-size: 16px;
  margin: 6px 0 0 0;
}

table {
  width: 100%;
}

tr {
  margin: 8px 0;
}

td {
  vertical-align: top;
}

.column-one {
  width: 150px;
}

.itemWrap {
  display: flex;
  align-items: center;
}

.flagWrap {
  margin: 0 0 0 6px;
}

.capitalize {
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 2px;
}